@using AchordLira.Models.ViewModels;
@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Scripts/user-utility.js"></script>
<div class="row">
    <div class="col-md-8">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#my" data-toggle="tab" aria-expanded="true">My songs</a></li>
            <li class=""><a href="#favorite" data-toggle="tab" aria-expanded="false">Favorites</a></li>
            @if (Model != null && Model.user != null && Model.user.admin)
            {
                <li class=""><a href="#requests" id="requestsTab"data-toggle="tab" aria-expanded="false" style="background-color: #ff4136; color: white">Submissions<span class="badge" id ="notificationsCount"style="margin-left: 10px;background-color: #0971B2; color: white">@Model.adminNotifications</span></a></li>
                <li class=""><a href="#users" data-toggle="tab" aria-expanded="false" style="background-color: #ff4136; color: white">Users</a></li>
            }
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="my">
                <div class="panel-body" style="padding: 0px;">
                    <div class="clearfix" style="margin: 5px;">
                        <div class="pull-right">
                            <a href="/Song/CreateDraft/" class="btn btn-default">Create new</a>
                        </div>
                    </div>
                    <ul class="list-group">
                        @foreach (ViewSong song in Model.userSongs)
                        {
                            <li class="list-group-item clearfix">
                                @if (song.approved)
                                {
                                    <a href="/Song/?artist=@song.artist&song=@song.name" class="h4 link pull-left" style="text-decoration: none;">@song.artist - @song.name</a>
                                }
                                else
                                {
                                    <a class="h4 link pull-left" style="text-decoration: none;">@song.artist - @song.name</a>
                                    <div class="pull-right">
                                        <span class="badge" style="margin-right: 10px; margin-top: 10px; background-color: #ff4136; color: white">Pending approval</span>
                                    </div>
                                }
                                
                            </li>
                        }
                        @if(Model.userSongs.Count<1)
                        {
                            <hr />
                            <h4 class="text-muted">There is no songs created by you.</h4>
                        }
                    </ul>
                </div>
            </div>
            <div class="tab-pane fade" id="favorite">
                <div class="panel-body" style="padding: 0px;">
                    <div class="panel-body" style="padding: 0px;">
                        <ul class="list-group">
                            @foreach (ViewSong song in Model.favoritSongs)
                            {
                                <li class="list-group-item clearfix">
                                    <a href="/Song/?artist=@song.artist&song=@song.name" class="h4 link pull-left" style="text-decoration: none;">@song.artist - @song.name</a>
                                    <div class="pull-right">
                                        <a href="/Song/DeleteFavorite?artist=@song.artist&name=@song.name" class="btn btn-default">Delete</a>
                                    </div>
                                </li>
                            }
                            @if (Model.favoritSongs.Count < 1)
                            {
                                <hr />
                                <h4 class="text-muted">You don't have favorite songs.</h4>
                            }
                        </ul>
                    </div>
                </div>
            </div>

            @if (Model != null && Model.user != null && Model.user.admin)
            {
                <div class="tab-pane fade" id="requests">
                    <div class="panel-body" style="padding: 0px;">
                        <div class="panel-body" style="padding: 0px;">
                            <ul class="list-group">
                                @foreach (ViewSong draft in Model.requestedSongs)
                                {
                                    <li class="list-group-item clearfix">
                                        <a class="h4 link pull-left" style="text-decoration: none;">@draft.artist - @draft.name</a>
                                        <div class="pull-right">
                                            <strong style="display: inline-block; padding-right: 10px">@draft.creator</strong>
                                            <a href="/Song/Approve/?user=@draft.creator&artist=@draft.artist&name=@draft.name" class="btn btn-default">View</a>
                                            <a href="/Song/DeleteDraft/?user=@draft.creator&artist=@draft.artist&name=@draft.name" class="btn btn-default">Delete</a>
                                        </div>
                                    </li>
                                }
                                @if (Model.requestedSongs.Count < 1)
                                {
                                    <hr />
                                    <h4 class="text-muted">There is no user song submissions.</h4>
                                }
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="users">
                    <div class="panel-body" style="padding: 0px;">
                        <div class="panel-body" style="padding: 0px;">
                            <ul class="list-group">
                                @foreach (ViewUser user in Model.userList)
                                {
                                    <li class="list-group-item clearfix">
                                        <a href="/User/Profile/?user=@user.name" class="h4 link pull-left" style="text-decoration: none;">@user.name</a>
                                        <div class="pull-right">
                                            <a href="/User/Delete?name=@user.name" class="btn btn-default">Delete</a>
                                        </div>
                                    </li>
                                }
                                @if (Model.userList.Count < 1)
                                {
                                    <hr />
                                    <h4 class="text-muted">There is no users.</h4>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
    <div class="col-md-4">
        @if (Model != null && Model.user != null && Model.user.admin)
        {
            <div class="panel panel-danger">
                <div class="panel-heading">Admin panel</div>
                <div class="panel-body" style="padding: 0px;">
                    <ul class="list-group">
                        <li class="list-group-item clearfix">
                            <h4 class="pull-left">Artist</h4>
                            <div class="pull-right">
                                <a href="#addArtistModal" data-toggle="modal" class="btn btn-default">Add</a>
                                <a href="#deleteArtistModal" data-toggle="modal" class="btn btn-default">Delete</a>
                            </div>
                        </li>
                        <li class="list-group-item clearfix">
                            <h4 class="pull-left">Genre</h4>
                            <div class="pull-right">
                                <a href="#addGenreModal" data-toggle="modal" class="btn btn-default">Add</a>
                                <a href="#deleteGenreModal" data-toggle="modal" class="btn btn-default">Delete</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">Website statistics</div>
                <div class="panel-body">
                    <h4>Number of genres: </h4><p>@Model.genreCount</p>
                    <h4>Number of artists: </h4><p>@Model.artistCount</p>
                    <h4>Number of songs: </h4><p>@Model.songCount</p>
                </div>
            </div>
        }
        else
        {
            <div class="panel panel-info">
                <div class="panel-heading">Info</div>
                <div class="panel-body">
                    @if (Model != null && Model.user != null)
                    {
                        <h4>Username: </h4><p>@Model.user.name</p>
                        <h4>Email: </h4><p>@Model.user.email</p>
                        <h4>Created: </h4><p>@Model.user.date</p>
                    }
                </div>
            </div>
        }
        <div class="modal" id="addGenreModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Create Genre</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" action="CreateGenre/" method="get">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Genre Name:</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Example: Ska">
                                        <span id="genreExistsError" class="field-validation-valid text-danger"
                                              data-valmsg-for="name"
                                              data-valmsg-replace="true">
                                            Genre already exists.
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-2">
                                        <button type="submit" class="btn btn-primary pull-right">Create</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal" id="deleteGenreModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Delete Genre</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" action="DeleteGenre/" method="get">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Genre Name:</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Example: Ska">
                                        <span id="genreNotExistError" class="field-validation-valid text-danger"
                                              data-valmsg-for="name"
                                              data-valmsg-replace="true">
                                            Genre doesn't exist.
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-2">
                                        <button type="submit" class="btn btn-primary pull-right">Delete</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal" id="addArtistModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Create Artist</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" action="CreateArtist/" method="get">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Artist Name:</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name">
                                        <span id="artistExistsError" class="field-validation-valid text-danger"
                                              data-valmsg-for="name"
                                              data-valmsg-replace="true">
                                            Artist already exists.
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Artist Biography:</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="bio" name="bio" placeholder="A Short Bio...">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Artist Website:</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="website" name="website" placeholder="Website or Wikipedia">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Artist Genres:</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="genres" name="genres" placeholder="Example: Pop,Rock,Funk">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-2">
                                        <button type="submit" class="btn btn-primary pull-right">Create</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal" id="deleteArtistModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Delete Artist</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" action="DeleteArtist/" method="get">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Artist Name:</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name">
                                        <span id="artistNotExistError" class="field-validation-valid text-danger"
                                              data-valmsg-for="name"
                                              data-valmsg-replace="true">
                                            Artist doesn't exist.
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-2">
                                        <button type="submit" class="btn btn-primary pull-right">Delete</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

