@using AchordLira.Models.ViewModels;
@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-8">
        <div class="jumbotron" style="padding-top: 5px;">
            <h3>Popular songs:</h3>
            <div class="list-group">
                @foreach (ViewSong song in Model.popularSongs)
                {
                    <a href="@song.link" class="list-group-item clearfix" style="padding-bottom: 0px;">
                        <div class="pull-left"><p class="text-info" style="margin-bottom: 0px;">@song.name</p></div>
                        <div class="pull-right" style="margin-bottom: 0px;">
                            <h5>@song.date</h5>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">Latest songs</div>
            <div class="panel-body">
                <div class="list-group">
                    @foreach (ViewSong song in Model.latestSongs)
                    {
                        <a href="@song.link" class="list-group-item">@song.name</a>
                    }
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">Requested songs<a class="btn btn-primary btn-lg pull-right" style="padding: 3px;" data-toggle="modal" href="#requestModal">Create request</a></div>
            <div class="panel-body">
                @foreach (ViewSongRequest request in Model.songRequests)
                {
                    <div class="alert alert-dismissible alert clearfix" style="margin-bottom: 2px; padding-top: 2px; padding-bottom: 2px;">
                        @if (Model.user != null && Model.user.admin)
                        {
                            <a href="/SongRequest/Delete/?artist=@request.artist&song=@request.song&author=@request.author&genre=@Model.genre" 
                               data-toggle="tooltip" title="Click to remove">
                                <strong>@request.artist - @request.song</strong> requested by <strong>@request.author</strong>
                            </a>
                        }
                        else
                        {
                            <p><strong>@request.artist - @request.song</strong> requested by <strong>@request.author</strong></p>
                        }
                        <hr style="margin-bottom: 10px; margin-top: 10px;" />
                    </div>
                }
            </div>
        </div>
        <div class="modal" id="requestModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Create request</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" action="SongRequest/Create/" method="get">
                            <fieldset>
                                <div class="form-group">
                                    <input type="hidden" name="genre" value="@Model.genre"/>
                                    <label class="col-lg-2 control-label">Author</label>
                                    <div class="col-lg-10">
                                        <input type="text" name="author" class="form-control" id="author" placeholder="Anonymous">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Artist</label>
                                    <div class="col-lg-10">
                                        <input type="text" name="artist" class="form-control" id="artist" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Song</label>
                                    <div class="col-lg-10">
                                        <input type="text" name="song" class="form-control" id="song" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-2">
                                        <button type="submit" class="btn btn-primary pull-right">Create</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

